@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("img/christmas.jpg");
    font-family: 'Mountains of Christmas', cursive;
    background-size: cover;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 16px;
    font-size: 60px;
    text-align: center;
    color: #2b0202;
}

.clock {
    display: flex;
    margin-bottom: 100px;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 150px;
    height: 110px;
    background-color:#a01616;
    color: #fff;
    letter-spacing: 6px;
    font-size: 60px;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-family: 'Courier New', Courier, monospace;
}

.clock .text {
    height: 30px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #410505;
    opacity: 0.8;
    font-family: 'Mountains of Christmas', cursive;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #0a7232fb;
}